*{
    font-family: Tahoma;
  }
  p {
  color: #2F4F4F;
  text-align: justify;
  font-size: 12px;
  }
  
  span {
    font-size: 16px;
    font-weight: bold;
  }
  
  h1 {
    font-family: Garamond, serif;
    text-align: center;
    letter-spacing: 5px;
    color: #B22222;
    background-color: #fa8072;
  }
  
  h2, h4 {
    text-align: center;
    color: #2F4F4F;
  }
  
  
  body {
    background-color: #F8F8FF;
  }
  
  footer {
    font-family: Garamond, serif;
    color: #663399;
    background-color: #dda0dd;
    text-align: right;
    font-style: italic;
    padding: 0px 5px;
  }
  
  .htmltags{
    border: 1px solid #fa8072 ;
    text-align: left;
    padding: 5px;
    width: 700px;
    margin: 20px auto;
  }
  
  thead{
    text-align: center;
    background-color: #f5f5f5;
  }
  
  .htmltags th{
    color: #696969;
    border: 1px solid #2F4F4F ;
    background-color: #FAF0E6;
    padding: 0px 5px;
  }
  
  .htmltags td{
    color: #696969;
    border: 1px solid #2F4F4F;
    padding: 0px 5px;
  }
  
  .cssboxmodel {
    border: 1px solid #fa8072 ;
    text-align: left;
    padding: 5px;
    width: 600px;
    margin: 20px auto;
  }
  
  .cssboxmodel th {
    color: #696969;
    border: 1px solid #2F4F4F ;
    background-color: #FAF0E6;
    padding: 0px 5px;
  }
  
  .cssboxmodel td {
    color: #696969;
    padding: 0px 5px;
    border: 1px solid #2F4F4F ;
  }